@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@layer components {
    .red-shadow {
    @apply shadow-[5px_5px_rgba(255,113,113,_0.4),_10px_10px_rgba(255,113,113,_0.3),_15px_15px_rgba(255,113,113,_0.2),_20px_20px_rgba(255,113,113,_0.1),_25px_25px_rgba(255,113,113,_0.05)] ;
  }
}
